*{
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.body{
    display: flex;
    justify-content: center;
}

.container{
    border: 1px rgb(56, 46, 46) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: 600px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 6px 6px rgba(73, 71, 71,0.2);
}

.header{
    margin-top: 5px;
    text-align: center;
    height: auto;
    width: auto;
}
.header img{
    height: 100px;
}
.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: auto;
    width: 400px;
}
.username,.btn,.password{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.username input,.password input{
    height: 30px;
    width:400px;
    border: 2px rgba(114, 101, 101,0.6) solid;
    border-radius: 10px;

}
.username input:focus,.password input:focus{
    outline: none;
}

.btn{
    /* justify-content: center; */
    height: 25px;
    width: 200px;
    font-size: medium;
    background-color: #5375e2;
    color: white;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px;
}
button:focus{
    outline: none;
}
.btns{
    display: flex;
    flex-wrap: wrap;
}