*{
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 1px rgb(56, 46, 46) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 600px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 5px 5px rgba(73, 71, 71,0.3);
}

.header{
    margin-top: 5px;
    text-align: center;
    height: auto;
    width: auto;
}
.header img{
    height: 100px;
}
.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: auto;
    width: 400px;
}
.username,.btn{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.username input{
    height: 20px;
    width:400px;
    border: 2px rgb(114, 101, 101) solid;
    border-radius: 10px;

}
input:focus{
    outline: none;
}

.btn{
    justify-content: center;
    height: 25px;
    width: 200px;
    font-size: medium;
    background-color: #5375e2;
    color: white;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px;
    transition: all 0.7s;
}
